:root {
  --branding-color: radial-gradient(
    circle at 10% 20%,
    rgb(161, 255, 206) 0%,
    rgb(250, 255, 209) 90%
  );
  --secondary-color: #000000;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
}

.container {
  display: block;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: var(--branding-color);
  margin-bottom: 20px;
}

.hero p {
  font-size: 26px;
  margin: 0;
}

.hero h1 {
  font-size: 55px;
}

.contactMe {
  font-family: var(--heading-font-family);
  background: var(--branding-color);
  padding: 20px 30px;
  display: block;
  margin: 0 auto;
  width: 150px;
  text-decoration: none;
  color: rgb(72, 71, 71);
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(145, 143, 143);
  margin-top: 40px;
}

.contactMe:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(173, 251, 210) 0%,
    rgb(249, 255, 199) 90%
  );
  transition: all 100ms ease-in-out;
  font-size: 17px;
  color: var(--secondary-color);
}

.featured {
  text-align: center;
  padding-bottom: 100px;
  font-size: 13px;
  color: gray;
}

.project-description {
  padding: 100px 60px;
  text-align: justify;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0 0 100px 0;
    text-align: center;
  }
}

.masalaButton,
.weatherButton,
.myProjectsButton,
#homePage {
  font-family: var(--heading-font-family);
  background: var(--branding-color);
  text-decoration: none;
  color: rgb(72, 71, 71);
  font-size: 14px;
  padding: 14px 15px;
  margin-top: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 150px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
}

.masalaButton:hover,
.weatherButton:hover,
.myProjectsButton:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(166, 255, 208) 0%,
    rgb(248, 254, 195) 90%
  );
  transition: all 100ms ease-in-out;
  font-size: 15px;
  color: var(--secondary-color);
}

.contentIntro {
  text-align: center;
  padding: 100px 20px;
  background: var(--branding-color);
  margin-bottom: 20px;
}

.contentTitle {
  font-size: 60px;
}

.contentHead-1 {
  font-size: 35px;
}

.contentHead-2 {
  font-size: 20px;
}

.myPhoto {
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
}

.moreAbout {
  font-family: var(--heading-font-family);
  color: gray;
  font-size: 33px;
  text-align: center;
  color: var(--secondary-color);
  text-shadow: 2px 5px 5px rgba(77, 77, 77, 0.292);
}

.aboutMe {
  padding-top: 30px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 40px;
  padding-bottom: 70px;
}

@media (max-width: 900px) {
  .aboutMe {
    padding: 15px 0 30px 0;
    text-align: center;
  }

  .contentIntro {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .contentTitle {
    padding-top: 50px;
    font-size: 45px;
  }

  .contentHead-1 {
    font-size: 25px;
  }

  .contentHead-2 {
    font-size: 17px;
  }

  .moreAbout {
    font-size: 25px;
  }
}

.contact-box {
  font-family: var(--heading-font-family);
  padding: 20px 200px 30px;
  background: var(--branding-color);
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

.contact-box p {
  font-size: 17px;
  text-align: left;
  padding-left: 154px;
}

.contact-box h1 {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  padding-left: 150px;
}

.contact-box .contactMe {
  font-size: 17px;
}

.contact-box .contactMe:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(173, 251, 210) 0%,
    rgb(249, 255, 199) 90%
  );
  transition: all 200ms ease-in-out;
  font-size: 19px;
  color: var(--secondary-color);
}

.social-links {
  text-align: center;
  padding-bottom: 60px;
}

.social-links a {
  margin: 0 10px;
  color: white;
  background: var(--branding-color);
  padding: 10px 19px;
  border-radius: 50%;
  font-size: 30px;
  transition: all 100ms ease-in-out;
}

.fa-instagram:hover,
.fa-github:hover,
.fa-linkedin:hover {
  color: gray;
}

footer #email {
  color: black;
  font-size: 20px;
}

.open-sourced {
  text-align: center;
  color: gray;
  font-size: 14px;
  padding-left: 28px;
  padding-right: 28px;
}

.developer {
  color: rgb(5, 180, 87);
  font-size: 19px;
}

#homePage {
  margin-top: 20px;
}

#homePage:hover {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(173, 251, 210) 0%,
    rgb(249, 255, 199) 90%
  );
  transition: all 200ms ease-in-out;
  font-size: 15px;
  color: var(--secondary-color);
}

#email {
  text-decoration: none;
  font-family: var(--default-font-family);
}

#email:hover {
  transition: all 200ms ease-in-out;
  font-size: 26px;
  color: rgb(5, 180, 87);
  text-decoration: underline;
}

#socialMedia {
  text-decoration: none;
  font-family: var(--default-font-family);
}

#socialMedia:hover {
  transition: all 200ms ease-in-out;
  font-size: 22px;
  color: rgb(5, 180, 87);
  text-decoration: underline;
}

@media (max-width: 900px) {
  #contact {
    font-size: 20px;
    padding: 15px 0 30px 0;
    text-align: center;
  }

  .contact-box h1,
  .contact-box p {
    padding: 0;
    text-align: center;
  }
  .contact-box h1 {
    font-size: 30px;
  }

  .contact-box p {
    margin-bottom: 0;
  }

  #email:hover {
    transition: all 200ms ease-in-out;
    font-size: 22px;
    color: rgb(5, 180, 87);
    text-decoration: underline;
  }
  #socialMedia:hover {
    transition: all 200ms ease-in-out;
    font-size: 20px;
    color: rgb(5, 180, 87);
    text-decoration: underline;
  }
}

.socialMedia {
  text-align: center;
}

.imageWork {
  padding-top: 20px;
  text-align: center;
}

.imageWork h5 {
  font-family: var(--default-font-family);
}

.imageWork p {
  color: gray;
}
